		
		@media (min-width: 320px) and (max-width:413px) {
			html{
				font-size:45px;
			}
		}
		@media (min-width: 414px) and (max-width:767px) {
			html{
				font-size:48px;
			}
		}
		@media (min-width: 768px) {
			html{
				font-size:50px;
			}
		}
		/*表示横屏*/
		@media (orientation:portrait){
			footer{
				width: 100%;
				position: absolute;
				bottom: 0;
				display: block;
			}
		}
		/*头部*/
		/*封面页*/
		/*导航页*/
		
